
:root {
    /*--main-color: #4E474E;
    --second-color: #807378;
    --third-color: #D7CED1;*/
    --main-color: #f9f4f5;
    --second-color: #beb3b7;
    --third-color: #746e74;
  }

  * {
    padding: 0px;
    margin: 0px;
    font-family: "Segoe UI Variable Display", Arial, sans-serif;
    font-size: 12px;
  }

  body {
    background-color: var(--main-color);
    background-image: url(../../Assets/display_images/pink_bg.png);
  }



  #generativeHeader {
    background-color: var(--third-color);
    padding: 0.25em;
    padding-bottom: 0.5em;
    border-bottom: 0.5em;
  }

  .tabList {
    display: flex;
    padding: 8px;
    background-color: #b5c99c;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 2em;
    box-shadow: inset -50px 0px 50px -50px #141414, inset 50px 0px 50px -50px #141414;
  }

  .tab {
    flex: 1;
    width: auto;
    border-radius: 10px;
    color: var(--third-color);
    text-align: center;
    border: 5px solid;
    padding: 8px 8px;
    font-size: 2em;
    font-weight: bold;
    background: var(--main-color);
    box-shadow: inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px var(--second-color), 5px 5px 15px 5px rgba(0,0,0,0);
  }

  .banner {
    height: 256px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-attachment: fixed;
  }



  h1{
    font-size: 64px;
  }

  .banner_desc{
    font-size: 48px;
  }

  .banner_desc, h1{
    color: #fff;
    margin-left: 54px;
  
  }

  .post {
    display: flex;
    margin: 1em;
    padding: 1em;
    background-color: var(--second-color);
    border-radius: 4em;
  }

  .post > img{ 
    float: left;
    border-top-left-radius: 3em;
    border-bottom-left-radius: 3em;
    object-fit: contain;
  }

  .post > div{ 
    /*background-color: var(--main-color);*/
    background-image: url(../../Assets/display_images/main_bg.png);
    background-attachment: fixed;
    background-position: center;
    padding: 3em;
    size: auto;
    margin-left: 0em;
    border-top-right-radius: 3em;
    border-bottom-right-radius: 3em;
    flex-grow: 1;
    box-shadow: inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px var(--second-color), 5px 5px 15px 5px rgba(0,0,0,0);
  }


  .post > div > h3{ 
    font-size: 32px;
  }

  .post > div > *{ 
    font-size: 26px;
    color: var(--third-color);

  }

  .banner {
    box-shadow: inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px var(--second-color), 5px 5px 15px 5px rgba(0,0,0,0);
  }

  .fade-in { animation: fadeIn 2s; }

  @keyframes fadeIn {
    0% { opacity: 0; }
    50% { opacity: 0.75; }
    100% { opacity: 1; }
  }
